
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p class="oe_mt32">
                Custom url is absolutely required for good SEO.
            </p>
        </div>
        <div class="oe_row_img oe_centered">
            <img class="oe_demo oe_picture oe_screenshot" src="shop.png"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p class="oe_mt32">
                Very easy to customize.
            </p>
        </div>
        <div class="oe_row_img oe_centered">
            <img class="oe_demo oe_screenshot" src="product-form.png"/>
        </div>
    </div>
</section>

