/*======================== Header Style 10 =================================*/
/*------- top header  -------*/
header {
    &.o_header_affixed {
        nav.navbar {
            .header_top {
                display: none;
            }
            .header_middle {
                padding: 2px 0;
                .te_search_popover {
                    .input-group {
                        .te_advanced_search_div {
                            padding: 0 8px;
                        }
                        .ept-parent-category {
                            padding: 5px 12px;
                            @include media-breakpoint-down(xs){
                                padding: 5px 12px 5px 0px;
                            }
                        }
                    }
                    .oe_search_box {
                        height: 36px;
                        padding: 0;
                    }
                }
            }
            .header_bottom {
                #top_menu_collapse {
                    #top_menu > li {
                        > a.nav-link {
                            outline: unset;
                            width: calc(100% - 20px);
                            @if o-website-value('header-links-style') == 'outline' or o-website-value('header-links-style') == 'fill' or o-website-value('header-links-style') == 'pills' or o-website-value('header-links-style') == 'block' {
                                padding: 6px 18px;
                                margin: 6px 10px;
                            } @else if o-website-value('header-links-style') == 'border-bottom' {
                                padding: 8px 14px;
                                margin: 0px 10px;
                            } @else {
                                padding: 10px 22px;
                            }
                        }
                    }
                    &.header_menu_slide {
                        top: 0 !important;
                        height: calc(100vh - 40px);
                    }
                }
            }
        }
        nav.navbar .header_middle .te_search_popover button.oe_search_button{
           @include media-breakpoint-down(xs){
                padding: 5px 24px;
           }
        }
    }
    nav.navbar {
        display: block;
        padding: 0;
        .header_top {
            background-color: theme-color("header_top_bg_color");
            padding: 2px 16px;
            .te_s_header_offer_text {
                span {
                    color: theme-color("header_top_text_color");
                    vertical-align: middle;
                    margin: 0.2rem 0 0.2rem 0;
                    display: inline-block;
                    font-size: $font-size-base - 0.125rem; /* Reduced font-size with 2px */
                    @include media-breakpoint-down(xs){
                        margin: 0;
                        font-size: 14px;
                    }
                }
            }
            .te_header_social {
                .s_share {
                    a {
                        color: theme-color("header_top_text_color");
                        border-right: 1px solid #555;
                        padding: 0 14px;
                        margin: 0.2rem 0 0.2rem 0;
                        display: inline-block;
                        font-size: $font-size-base - 0.125rem; /* Reduced font-size with 2px */
                        &:last-child {
                            border-right: 0px solid;
                        }
                    }
                    @include media-breakpoint-down(md){
                        display: none;
                    }
                }
                a.btn.btn-link:first-child {
                    padding-left: 0px !important;
                    text-align: left;
                }
            }
            .te_header_before_right {
                display: flex;
                @include media-breakpoint-down(md){
                    display: none;
                }
                .te_header_lang {
                    display: inline-block;
                    padding: 1px 12px;
                    vertical-align: middle;
                    + .h10_pricelist {
                        border-left: 1px solid #555;
                    }
                    .o_lang_flag {
                        width: 20px;
                        height: 20px;
                        vertical-align: middle;
                    }
                    .lang_btn_name {
                        vertical-align: middle;
                    }
                    .list-inline {
                        .list-inline-item {
                            color: theme-color("header_top_text_color");
                            .lang_btn_code {
                                display: none !important;
                            }
                            span:not(.lang_btn_code) {
                                display: inline-block;
                            }
                        }
                    }
                    .dropdown-toggle {
                        padding: 0;
                        color: theme-color("header_top_text_color");
                        font-size: $font-size-base - 0.125rem; /* Reduced font-size with 2px */
                        text-decoration: none;
                        &:after {
                            vertical-align: middle;
                        }
                    }
                }
                .h10_pricelist {
                    display: inline-block;
                    padding: 1px 12px;
                    .dropdown-toggle {
                        padding: 0;
                        color: theme-color("header_top_text_color");
                        text-decoration: none;
                        font-size: $font-size-base - 0.125rem; /* Reduced font-size with 2px */
                        > span {
                            vertical-align: middle;
                        }
                        &:after {
                            vertical-align: middle;
                        }
                    }
                    .dropdown-menu {
                        min-width: 8rem;
                    }
                }
            }
        }
        .header_middle {
            padding: 6px 0;
            @include media-breakpoint-down(xs){
                padding: 0;
            }
            .middle_first {
                .navbar-toggler {
                    @include media-breakpoint-down(xs){
                        padding: 0 4px;
                        margin-left: 0.5rem !important;
                    }
                    .navbar-toggler-icon {
                        @include media-breakpoint-down(md){
                            width: 20px;
                        }
                    }
                }
                .te_header_before_logo {
                    vertical-align: middle;
                    @include media-breakpoint-down(xs){
                        margin-right: 0;
                    }
                    &.logo {
                        img {
                            @include media-breakpoint-down(xs){
                                max-width: 110px;
                            }
                        }
                    }
                }
                .te_bar_icon {
                    display: inline-block;
                    vertical-align: middle;
                    i{
                       background: url('/theme_clarico_vega/static/src/img/header_icons/vertical_menu.svg') 100% 100% no-repeat;
                       width: 22px;
                       height: 16px;
                       vertical-align: middle;
                       @include media-breakpoint-down(xs) {
                           width: 19px !important;
                       }
                       &:before{
                           display:none;
                       }
                    }
                    @include media-breakpoint-down(md){
                        display: none;
                    }
                }
            }
            .te_header_right_icon {
                text-align:right;
                @media (min-width:768px) and (max-width:991px){
                    display: inherit;
                }
                > div,
                li {
                    display:inline-block;
                    padding: 0 18px;
                    border-right: 1px solid $border-color;
                    @include media-breakpoint-down(xs){
                        padding: 0 10px;
                        border-right: 0px solid;
                    }
                    &:last-child {
                        border-right: 0px solid;
                    }
                    &.te_header_search {
                        width: auto;
                        display: none;
                        padding: 0 18px;
                        margin-right: 0;
                        @include media-breakpoint-down(xs){
                            padding: 0 8px;
                            border-right: 0px solid;
                        }
                        @include media-breakpoint-down(sm){
                            display: inline-block;
                        }
                    }
                }
                .te_header_search {
                    padding: 0px 8px 0px 15px;
                    @include media-breakpoint-down(sm){
                        padding: 0 8px;
                    }
                    @include media-breakpoint-down(md){
                        padding: 0 8px 0px 12px;
                    }
                }
            }
            .te_header_style_10_right {
                .te_header_search {
                    .ept-parent-category,
                    .btn-primary:not(:disabled):not(.disabled):active,
                    .btn-primary:not(:disabled):not(.disabled).active,
                    .show > .btn-primary.dropdown-toggle {
                        font-size: inherit;
                    }
                }
                @include media-breakpoint-down(sm){
                    width: 100%;
                    position: absolute;
                    bottom: 6px;
                    z-index: -1;
                }
            }
            .te_search_popover {
                & button.oe_search_button {
                    @include position(absolute,0,-2px,0);
                    z-index: 9;
                    background-color: #eaeff3;
                    border-top-right-radius: 30px;
                    border-bottom-right-radius: 30px;
                    padding: 10px 24px;
                    line-height: 1;
                }
                & .form-control::placeholder {
                    opacity:0.5;
                }
                .input-group {
                    @include border-radius(30px);
                    border-color: nth($f_color,27);
                    /*@include box-shadow(0 1px 5px 0 rgba(32, 33, 36, 0.2));*/
                    border: 2px solid #eaeff3;
                    input.form-control {
                        border: 0px;
                        @include border-radius(30px);
                        box-shadow: unset;
                        border-top-left-radius:0px;
                        border-bottom-left-radius:0px;
                        @include media-breakpoint-down(xs){
                            height: auto;
                        }
                    }
                    .te_advanced_search_div {
                        padding: 9px 0;
                        background-color: #fff;
                        border-top-left-radius: 30px;
                        border-bottom-left-radius: 30px;
                        z-index: 99;
                    }
                    .ept-parent-category {
                        padding: 2px 12px;
                        height: auto;
                        background-color: #fff;
                        color: #333;
                        vertical-align: middle;
                        display: inline-block;
                        border-top-left-radius: 30px;
                        border-bottom-left-radius: 30px;
                        box-shadow: unset !important;
                        border: 0px solid $border-color;
                        border-right: 1px solid $border-color;
                    }
                }
                .header_search_icon{
                   @include media-breakpoint-down(xs) {
                        width: 16px !important;
                   }
                }
                button.oe_search_button > i{
                    background: url('/theme_clarico_vega/static/src/img/header_icons/search_icon.svg') 100% 100% no-repeat;
                    width: 22px;
                    height: 22px;
                    @include media-breakpoint-down(xs) {
                        width: 19px !important;
                    }
                    &:before{
                        display:none;
                    }
                }
                button.oe_search_button.btn-primary:not(:disabled):not(.disabled):active,
                button.oe_search_button.btn-primary:not(:disabled):not(.disabled):active:focus{
                    background-color: transparent;
                    box-shadow: none;
                    font-size: inherit;
                }
            }
            .te_header_search {
                display:inline-block;
                width:100%;
                margin-right: 10px;
                .o_wsale_products_searchbar_form {
                    .dropdown-menu {
                        a {
                            &.active {
                                background-color: inherit;
                                color: inherit;
                            }
                            &.active,
                            &:active,
                            &:hover {
                                background-color: inherit;
                                color: inherit;
                                h6 {
                                    background-color: inherit;
                                    color: inherit;
                                }
                            }
                        }
                    }
                }
                @include media-breakpoint-down(sm) {
                    width: auto;
                    margin-right: 8px;
                    & .te_srch_icon_header {
                        display:block;
                        a {
                            outline: none;
                        }
                    }
                    .te_search_popover {
                        opacity: 0;
                        visibility: hidden;
                        @include transform(translate(0,10px))
                        outline:0;
                        @include position(absolute,50px,0px,null,0);
                        width: 100%;
                        padding: 4px 10px;
                        &.visible {
                            @include transform(translate(0,-20px))
                            @include transition(all,0.5s,cubic-bezier(0.75, -0.02, 0.2, 0.97))
                            opacity:1;
                            z-index: 999;
                        }
                        .o_wsale_products_searchbar_form{
                            .dropdown-menu {
                                overflow-y: auto !important;
                            }
                        }
                    }
                    .te_search_popover:before {
                        z-index: -1;
                        content: '';
                        @include position(absolute,-8px,calc(50% - 10px),auto,auto);
                        @include transition(transform,0.3s,null)
                    }
                    .te_srch_icon{
                        /*@include media-breakpoint-down(xs) {*/
                        background: url('/theme_clarico_vega/static/src/img/header_icons/search_icon.svg') 100% 100% no-repeat;
                        width: 19px;
                        height: 22px;
                        /*}*/
                        &:before{
                            display: none;
                        }
                    }
                    .te_srch_close {
                        display: none;
                        /*@include media-breakpoint-down(xs) {*/
                        background: url('/theme_clarico_vega/static/src/img/header_icons/close.svg') 100% 100% no-repeat;
                        width: 19px;
                        height: 22px;
                        /*}*/
                        &:before{
                            display: none;
                        }
                    }
                }
            }
            /*------- Header Cart and Wishlist Icon --------*/
            .te_wish_icon_head,
            .te_cart_icon_head {
                a {
                    padding: 0;
                    @include position(relative);
                    display: inline-block !important;
                    text-decoration: none;
                    font-size: nth($f_sizes,7);
                    sup {
                        @include border-radius(12px);
                        width: auto;
                        padding: 3px 5px;
                        vertical-align: top;
                        font-size: nth($f_sizes,9);
                        @include position(absolute, -6px, -10px);
                        display: inline-block !important;
                    }
                }
            }
            .te_cart_icon_head {
                a i {
                    background: url('/theme_clarico_vega/static/src/img/header_icons/cart.svg') 100% 100% no-repeat;
                    width: 23px;
                    height: 22px;
                    @include media-breakpoint-down(xs) {
                        width: 20px !important;
                    }
                    &:before{
                        display:none;
                    }
                }
            }
            .te_wish_icon_head {
                a i {
                    background: url('/theme_clarico_vega/static/src/img/header_icons/wishlist.svg') 100% 100% no-repeat;
                    width: 23px;
                    height: 22px;
                    &:before{
                        display:none;
                    }
                    @include media-breakpoint-down(xs) {
                        width: 20px !important;
                    }
                }
            }
            .te_signin, .te_user_account {
                > a .te_user_account_icon, > a.te_user_account_icon {
                    display: inline-block;
                }
                > a {
                    span{
                        text-decoration: none;
                        background: url('/theme_clarico_vega/static/src/img/header_icons/user.svg') 100% no-repeat;
                        width: 19px;
                        height: 24px;
                        vertical-align: middle;
                        &:before{
                            display:none;
                        }
                        @include media-breakpoint-down(xs) {
                            width: 17px !important;
                        }
                    }
                }
            }
            .te_user_account {
                .dropdown-toggle {
                    vertical-align: super;
                    &:after {
                        @include media-breakpoint-down(sm) {
                            margin-left: 0px;
                        }
                    }
                }
                .dropdown-menu{
                    &:before {
                        right: 12px;
                    }
                    &:after {
                        right: 11px;
                    }
                }
            }
            .te_signin .btn-link{
              vertical-align: super;
            }
        }
        .header_bottom {
            @if o-website-value('menu-border-width') != null and o-website-value('menu-border-width') > 0 {
                border-top: o-website-value('menu-border-width') o-website-value('menu-border-style') o-color('menu-border-color') !important;
            } @else {
                border-top: 1px solid $border-color;
            }
            #top_menu_collapse {
                .close_top_menu {
                    display: none;
                    @include media-breakpoint-down(md) {
                        display: block;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        height: 35px;
                        width: 35px;
                        text-align: center;
                        line-height: 2;
                        border-radius: 50%;
                        border: 1px solid #ddd;
                    }
                }
                & #top_menu {
                    .o_offcanvas_menu_toggler {
                        display: none;
                    }
                    &.nav-pills {
                        > .nav-link:hover,
                        > .nav-link.active,
                        &.show > .nav-link {
                            color: $nav-pills-link-active-color;
                            background-color: $nav-pills-link-active-bg;
                        }
                    }
                    > li {
                        padding: 0;
                        line-height: 1;
                        margin: 0;
                        @if index(('outline', 'border-bottom'), o-website-value('header-links-style')) {
                            > .nav-link:hover,
                            > .nav-link.active,
                            &.show > .nav-link {
                                border-color: currentColor;
                            }
                        }
                        &:first-child {
                            border-left: 0px solid;
                            > a.nav-link {
                                @include media-breakpoint-up(lg) {
                                    padding-left: 0px;
                                    margin-left: 0px;
                                }
                            }
                        }
                        &:last-child{
                            a.nav-link {
                                &:before {
                                    display: none;
                                }
                            }
                        }
                        @include media-breakpoint-down(md) {
                            border-left:0;
                            margin: 0 0;
                        }
                        > a.nav-link {
                            padding-top: 4px;
                            padding-bottom: 4px;
                            transition: 0.4s all;
                            position: relative;
                            @if o-website-value('header-links-style') == 'outline' or o-website-value('header-links-style') == 'fill' or o-website-value('header-links-style') == 'pills' or o-website-value('header-links-style') == 'block' {
                                @include media-breakpoint-up(lg) {
                                    padding: 6px 18px;
                                    margin: 10px;
                                }
                                @if o-website-value('header-links-style') == 'outline' {
                                    color: inherit;
                                }
                            } @else if o-website-value('header-links-style') == 'border-bottom' {
                                @media (min-width: 992px) {
                                    padding: 10px 10px;
                                    margin: 0 8px;
                                    color: inherit;
                                }
                                @media (min-width: 1401px){
                                    padding: 10px 18px;
                                    margin: 0 10px;
                                }
                            }
                            @else {
                                @include media-breakpoint-up(lg) {
                                    padding: 16px 22px;
                                }
                            }
                            @if o-website-value('header-links-style') == 'border-bottom' {
                                border-width: 2px;
                                border-radius: 0px;
                            } @else {
                                border-radius: 4px;
                            }
                            @include media-breakpoint-down(md) {
                                margin: 0;
                                padding: 14px;
                            }
                            &:before {
                                content: '';
                                position: absolute;
                                width: 1px;
                                top: 50%;
                                transform: translateY(-50%);
                                display: inline;
                                background: #ededed;
                                @if o-website-value('header-links-style') == 'outline' or o-website-value('header-links-style') == 'fill' or o-website-value('header-links-style') == 'pills' or o-website-value('header-links-style') == 'block' {
                                    right: -10px;
                                    height: 100%;
                                } @else if o-website-value('header-links-style') == 'border-bottom' {
                                    right: -10px;
                                    height: calc(100% - 14px);
                                } @else {
                                    right: 0;
                                    height: calc(100% - 20px);
                                }
                            }
                            span {
                                vertical-align: middle;
                                line-height: 1.2;
                            }
                            &.active {
                                min-height: inherit;
                            }
                        }
                    }
                    &:last-child {
                        @if index(('fill', 'outline', 'pills', 'block', 'border-bottom'), o-website-value('header-links-style')) == null {
                            border-right:0px;
                        }
                    }
                }
                .dropdown-toggle {
                    &:after {
                        @include media-breakpoint-down(md) {
                            @include position(absolute,50%,0, null, unset);
                            height: auto;
                            line-height: 1;
                            text-align: center;
                            margin: 0;
                            @include transform(translateY(-50%));
                        }
                    }
                }
                &.header_menu_slide {
                    position: fixed;
                    top: 0;
                    bottom: auto;
                    height: calc(100vh - 40px);
                    overflow-x: hidden;
                    z-index: 9999;
                    width: 0;
                    display: block;
                    padding-top: 50px;
                    @include o-apply-colors('menu');
                    @if (color-yiq(o-color('menu')) != $yiq-text-dark) {
                        @extend .navbar-dark;
                    }
                    .nav-item {
                        opacity: 1 !important;
                    }
                    @if o-website-value('hamburger-type') == 'off-canvas' {
                        @if o-website-value('hamburger-position') == 'right' {
                            left: unset;
                            right: 0;
                        } @else if o-website-value('hamburger-position') == 'left' {
                            left: 0;
                            right: unset;
                        } @else {
                            left: 0;
                            right: 0;
                        }
                    } @else {
                        left: 0;
                        right: unset;
                    }
                    .o_mega_menu {
                        @include o-apply-colors('menu');
                        @if (color-yiq(o-color('menu')) != $yiq-text-dark) {
                            @extend .navbar-dark;
                        }
                    }
                }
            }
        }
    }
}
header{
    .js_language_selector .dropdown-menu > a,
    .h10_pricelist  .dropdown-menu > a{
        font-size: $font-size-base - 0.125rem; /* Reduced font-size with 2px */
    }
    .category_img_span{
        background: url('/theme_clarico_vega/static/src/img/header_icons/category_menu.svg') 100% 100% no-repeat;
        width: 14px;
        height: 14px;
        display: inline-block;
        margin: 0px 10px;
        vertical-align: middle;
    }
}
header.o_header_standard.o_header_affixed {
    nav.navbar .header_middle .te_search_popover button.oe_search_button > i{
         @include media-breakpoint-up(sm) {
            width: 18px;
            height: 18px;
        }
    }
}
#wrapwrap.wrapwrap_trans_header{
    z-index: initial !important;
    overflow: hidden;
    header#top {
        z-index: 9;
    }
}
.menu_vertical_option .te_side_bar .te_sidenav_menu ul li a,
.te_user_account > .dropdown-menu a.dropdown-item,
.navbar #top_menu > li.dropdown .dropdown-menu:not(.te_custom_submenu).o_mega_menu > a:not(.te_menu_ctg_main){
	&:active {
	    color: nth($f_color,05);
	    > span.fa {
	        color: nth($f_color,05);
	    }
	}
}
