/***************************************************
				01. View all
				02. Filters
				03. Product slider Common styles
				04. Slider Style 1
				05. Slider Style 2
				06. Slider Style 3
				07. Slider Style 4
				08. Slider Style 5
				09. Slider Style 6
				10. Product name
***************************************************/

/*================== 01. View all ======================*/
.te_slider_view_all
{
	text-align: right;
	padding-bottom: 10px;
	float: right;
	width: auto;
	margin-right: 7px;
	>a
	{
		padding: 6px 25px;
	}
}
/*================ 02 Filters =================*/
.te_pc_style_main
{
	display:inline-block;
	width:100%;
	.te_slider_filter_main
	{
		text-align: center;
		@include position(relative)
		border-bottom: 0;
		padding-top: 20px;
		padding-bottom: 10px;
		.te_filter_value
		{
			margin-right: 0;
			padding: 0;
			display: inline-block;
			h4
			{
				@include style(7,23);
				border-right: 1px solid nth($f_color,17);
				padding: 0px 30px;
				border-bottom: 0;
				font-weight: bold;
				margin: 0;
				cursor: pointer;
				&.active
				{
					background-color: nth($f_color,27);
					color:nth($f_color,19);
				}
			}
			@include media-breakpoint-down(xs)
			{
				padding-bottom: 0;
				margin-top: 8px;
				h4
				{
					font-size:nth($f_sizes,1);
					margin-bottom: 8px;
					padding: 0px 19px;
				}
			}
		}
		:last-child h4
		{
			border: 0;
		}
	}
}
/*=================== 03. Product slider Common styles ======================*/
.te_pc_style_main
{
	display:inline-block;
	width:100%;
	.te_slider_filter_main
	{
		@include media-breakpoint-down(md)
		{
			padding-bottom:16px;
		}
	}
	.owl-nav
    {
        button.owl-prev {
            @include position(absolute,50%,null,null,-12px);
            transform: translateY(-50%);
            .fa
            {
                font-size:nth($f_sizes,12);
            }
            @include media-breakpoint-down(sm)
            {
                left:-6px;
            }
        }
        button.owl-next {
            @extend button.owl-prev;
            left:unset;
            right:-12px;
            @include media-breakpoint-down(sm)
            {
                right:-6px;
            }
        }
    }
}
.te_prod_cart_wish
{
	.btn
	{
		@include media-breakpoint-down(lg)
		{
			font-size:nth($f_sizes,27);
		}
	}
	@include media-breakpoint-down(sm)
	{
		padding-top:0;
	}
	.o_add_wishlist.disabled
	{
		cursor: not-allowed;
	}
}
@include media-breakpoint-down(md)
{
	.te_slider_img
	{
		text-align: center;
	}
}
.product_price
{
	.oe_price_h4 .oe_default_price
	{
		color:nth($f_color,9) !important;
	}
}
select#slider_category_option option {
    padding: 8px;
}
select#slider_category_option {
    height: 150px;
    padding: 0;
}
.te_discount {
    color: #ff905a;
    display: inline-block;
    margin: 0 0 0 0.5rem;
    font-weight: 500;
	.te_prod_discount
	{
		color:nth($f_color,4);
		font-weight: 600;
	}
}
.te_discount_before {
    color: #ff905a;
    font-weight: 500;
    .oe_currency_value {
        margin-left: -2px
    }
}
.te_style_image_block{
    &.style-1 {
        background-image: url(/theme_clarico_vega/static/src/img/snippets/slider_styles/slider_1.jpg);
        height: 250px;
        width: 80%;
        background-size: 100%;
        margin: 10px auto;
    }
    &.style-2 {
        background-image: url(/theme_clarico_vega/static/src/img/snippets/slider_styles/slider_2.jpg);
        @extend .style-1;
    }
    &.style-3 {
        background-image: url(/theme_clarico_vega/static/src/img/snippets/slider_styles/slider_3.jpg);
        @extend .style-1;
    }
    &.style-4 {
        background-image: url(/theme_clarico_vega/static/src/img/snippets/slider_styles/slider_4.jpg);
        @extend .style-1;
    }
    &.style-5 {
        background-image: url(/theme_clarico_vega/static/src/img/snippets/slider_styles/slider_5.jpg);
        @extend .style-1;
    }
    &.style-6 {
        background-image: url(/theme_clarico_vega/static/src/img/snippets/slider_styles/slider_6.jpg);
        @extend .style-1;
    }
}
.js_filter_data >section
{
	clear: both;
}
.te_slider_title
{
    display: inline-block;
	@include position(relative)
	margin-bottom: 7px;
	padding-bottom: 8px;
	font-weight: 600;
	&:before {
		content: "";
		@include position(absolute, auto, auto, 0, 0);
		background:nth($f_color,11);
		height: 2.5px;
		width: 60px;
		@include border-radius(50px);
	}
}
.te_style_3_border .te_slider_img{
   padding-left: 0px;
}
/*==================== 04. Slider Style 1 ===================*/
.te_product_slider_1
{
	.te_slider_1_content
	{
		@include transition(all,.3s,ease);
		margin: 10px 7px;
		border: 1px solid $border-color;
		@include position(relative)
		.te_prod_info
		{
			margin-top: -70px;
			overflow: hidden;
			.te_prod_info_sub
			{
				background-color:nth($f_color,18);
				text-align: center;
				@include transform(translateY(70px))
				@include transition(all,.3s)
				.product_name
				{
					max-width: 100%;
				}
			}
		}
		&:hover
		{
			@include box-shadow(0 1px 10px #ccc)
		}
		@include media-breakpoint-up(xl) {
			&:hover .te_prod_info .te_prod_info_sub{
				@include transform(translateY(0))
				@include position(relative)
				z-index: 9;
			}
		}
		@include media-breakpoint-down(lg) {
			& .te_prod_info{
				overflow: visible;
				margin-top: 0;

				& .te_prod_info_sub{
					@include transform(translateY(0))
					@include position(relative)
					z-index: 9;
				}
			}
		}
		.te_prod_cart_wish
		{
			padding-top: 0.8rem;
			.a-submit,.o_add_wishlist,.te_quick_view
			{
				&:hover{
					background-color:nth($f_color,19);
					border-color: nth($f_color,19);
				}
			}
		}
		.product_price {
		    h6 {
		        display: inline-block;
		    }
		}
		.btn {
		    color: nth($f_color,05);
		    font-size: 16px;
		    @include media-breakpoint-down(sm){
                font-size: 14px;
            }
		    &:hover {
		        color: nth($f_color,05);
		    }
		}
		.te_slider_img
		{
			img
			{
				@include object-fit(scale-down);
				@media (min-width: 1599.98px){
		            height: 20rem;
		        }
		        @media (min-width: 1199.98px) and (max-width: 1599.98px){
		            height: 15rem;
		        }
		        @media (min-width: 1023.98px) and (max-width: 1199.98px){
		            height: 17.2rem;
		        }
		        @media (min-width: 767.98px) and (max-width: 1023.98px){
		            height: 19.3rem;
		        }
		        @media (min-width: 576.98px) and (max-width: 767.98px){
		            height: 15.8rem;
		        }
		        @media (min-width: 319.98px) and (max-width: 576.98px){
		            height: 31.8rem;
		        }
			}
		}
	}
}
/*====================== 05. Slider Style 2 ===========================*/
.te_product_ind
{

	border: 1px solid $border-color;
	@include transition(all,.3s)
	text-align:center;
	@include position(relative)
	margin: 10px 7px;
	.te_slider_img img
	{
		@include object-fit(scale-down);
		@media (min-width: 1599.98px){
            height: 20rem;
        }
        @media (min-width: 1199.98px) and (max-width: 1599.98px){
            height: 15rem;
        }
        @media (min-width: 1023.98px) and (max-width: 1199.98px){
            height: 17.1rem;
        }
        @media (min-width: 767.98px) and (max-width: 1023.98px){
            height: 19.5rem;
        }
        @media (min-width: 576.98px) and (max-width: 767.98px){
            height: 15.9rem;
        }
        @media (min-width: 319.98px) and (max-width: 576.98px){

        }
	}
	@include media-breakpoint-down(xs)
	{
		margin: 5px 8px;
	}
	.te_prod_info_2
	{
		.te_prod_info_sub
		{
			@include transition(all,.3s)
			.product_name
			{
				color: nth($f_color,3);
				max-width: 100%;
				margin-bottom: 4px;
			}
			.product_price
			{
				b{
					@include position(relative);
				}
				h6{
					margin-bottom: 0;
					display: inline-block;
				}
			}
			.te_prod_cart_wish_2
			{
				padding-bottom: 10px;
				@include transition(all,0.4s,ease);
				overflow: hidden;
				opacity: 0;
				@include position(absolute,auto,0,100%,0);
				.a-submit
				{
					@include transition(all,0.4s,ease);
				}
				.te_quick_view
				{
					@include transition(all,0.4s,ease,0.15s);
				}
				.o_add_wishlist
				{
					@include transition(all,0.4s,ease,0.25s);
					&:disabled
					{
						color:nth($f_color,5)!important;
						background:nth($f_color,19);
						cursor: not-allowed;
					}
				}
				.btn
				{
					background:nth($f_color,5);
					text-align: center;
					@include position(relative);
					width: 45px;
					height: 45px;
					color: nth($f_color,3);
					@include border-radius(50%);
					padding: 0;
					line-height: 29px;
					transform: translateY(50px);
					overflow: hidden;
					@include border(1px,11,solid)
					margin-right: 3px;
					font-size: 16px;
                    padding: 8px !important;
                    @include media-breakpoint-down(sm){
					    font-size: 14px;
					}
					&:hover
					{
						color:nth($f_color,5);
						background:nth($f_color,19);
						border-color: nth($f_color,19);
					}
				}
				@include media-breakpoint-down(lg)
				{
					@include position(unset,null,0,null,0);
					opacity: 1;
					padding-top: 10px;
					padding-bottom: 0;
					.btn
					{
						transform: unset;
					}
				}
			}
		}
	}
	@include transition(all,0.4s,ease);
	&:hover
	{
		@include box-shadow(0 3px 12px #ccc);
		.te_prod_info_sub .te_prod_cart_wish_2
		{
			opacity: 1;
			.btn
			{
				transform: translateY(0);
				@include media-breakpoint-down(lg)
				{
					transform: unset;
				}
			}
		}
	}
}
/*===================== 06. Slider Style 3 ============================*/
.te_product_slider_3
{
	>div
	{
		&:nth-child(1),&:nth-child(2),&:nth-child(3)
		{
			margin-top: 10px;
		}
	}
	.te_prod_info_3
	{
		.te_prod_info_sub
		{
			@include transition(all,.3s)
			.product_name
			{
				max-width: 100%;
				margin-bottom: 0.25rem;
			}
			.te_prod_cart_wish_3
			{
				.btn
				{
					background: nth($f_color,5);
					color: nth($f_color,19);
					@include border(1px,19,solid)
					@include transition(all,.4s,ease)
					margin-right: 1px;
					@include border-radius(50%);
					width: 40px;
					height: 40px;
					line-height: 40px;
					padding: 0 !important;
					font-size: 16px;
					@include media-breakpoint-down(sm){
					    font-size: 14px;
					}
					&:hover {
					    color: nth($f_color,5);
					    background: nth($f_color,19);
					}
				}
				.o_add_wishlist.disabled
				{
					cursor: not-allowed;
				}
			}
		}
		.product_price {
            h6{
                display: inline-block;
            }
        }
        .te_discount {
            font-size: 0.9rem;
        }
	}
	.te_product_slider_3_block_mobi{
        @include media-breakpoint-down(xs){
            margin-bottom: 1rem !important;
        }
        &:last-child{
            @include media-breakpoint-down(xs){
                 margin-bottom: 2.5rem !important;
            }
       }
   }
}
.te_style_3_border
{
	border: 1px solid $border-color;
	margin: 0;
	padding: 10px;
	@include transition(all,.4s,ease);
	@include position(relative)
	&:hover
	{
		@include box-shadow(0 3px 12px #ccc);
	}
	.te_prod_info_3 {
        padding: 0px 0px 0px 8px;
    }
}
/*================ 07. Slider Style 4 ===========================*/
.te_slider_4_content
{
	margin: 10px;
	.te_slider_img
	{
		display: inline-block;
		border: 1px solid $border-color;
		@include transition(all,.4s,ease)
		margin: 0 5px;
		padding: 0;
		@include media-breakpoint-down(md)
		{
			margin: 8px;
			display:block;
		}
		@include media-breakpoint-down(sm)
		{
			margin: 0px auto;
			margin-bottom: 8px;
		}
		img
		{
			@include object-fit(scale-down);
			@media (min-width: 1599.98px){
	            height: 20.6rem;
	        }
	        @media (min-width: 1199.98px) and (max-width: 1599.98px){
	            height: 15.7rem;
	        }
	        @media (min-width: 1023.98px) and (max-width: 1199.98px){
	            height: 15.7rem;
	        }
	        @media (min-width: 767.98px) and (max-width: 1023.98px){
	            height: 19.3rem;
	        }
	        @media (min-width: 576.98px) and (max-width: 767.98px){
	            height: 14.5rem;
	        }
	        @media (min-width: 319.98px) and (max-width: 576.98px){
	            height: 31.8rem;
	        }
		}
	}
	.te_prod_info_4
	{
		display: inline-block;
		vertical-align: top;
		@include media-breakpoint-down(lg)
		{
			padding-right: 0;
			padding-left: 8px;
		}
		@include media-breakpoint-down(sm)
		{
			padding-left: 15px;
		}
		.product_name
		{
			font-weight: 600;
			&:hover
			{
				color: nth($f_color,19);
			}
		}
		.product_price
		{
			padding-bottom:8px;
			h6 {
			    display: inline-block;
			}
		}
		.te_discount {
		    font-size: 0.9rem;
		}
		.te_slider_4_desc
		{
			margin-bottom: 8px;
			@include line-clamp(4,110px);
			@include media-breakpoint-down(md)
			{
				-webkit-line-clamp: 3;
				height: 75px;
			}
			.te_slider_4_p
			{
				margin: 0;
			}
		}
		.btn {
            color:nth($f_color,5);
            font-size: 16px;
            @include media-breakpoint-down(sm){
                font-size: 14px;
            }
			&:hover {
			    color:nth($f_color,5);
				background:nth($f_color,19);
				border-color: nth($f_color,19);
			}
		}
	}
	&:hover
	{
		.te_slider_img
		{
			@include box-shadow(0 1px 10px #ccc);
		}
	}
}
.te_product_slider_4
{
	@include media-breakpoint-down(sm)
	{
		margin: 0;
	}

}
.te_prod_cart_wish_4
{
	@include position(absolute);
	@include media-breakpoint-down(md)
	{
		@include position(unset);
	}
	.o_add_wishlist.disabled
	{
		cursor: not-allowed;
	}
}
/*========================== 08. Slider Style 5 ======================*/
.te_slider_5_content
{
	.te_slider_img
	{
		@include position(relative);
		.te_wishlist_quickview_icon
		{
			@include position(absolute,5px,5px);
			.btn
			{
				display: block;
				background-color: nth($f_color,5);
				color:nth($f_color,3);
				border:1px solid $border-color;
				@include border-radius(50%);
				border-radius:50%;
				margin-top: 5px;
				width: 44px;
				height: 44px;
				line-height: 44px;
				padding: 0;
				opacity: 0;
				font-size: 16px;
				@include transition(all,0.5s,ease)
				@include media-breakpoint-down(sm){
                    font-size: 14px;
                }
				&:hover
				{
					color:nth($f_color,5);
					background-color: nth($f_color,19);
				}
				@include media-breakpoint-down(lg)
				{
					opacity: 1;
				}
			}
			.o_add_wishlist.disabled
			{
				cursor: not-allowed;
				color:nth($f_color,05);
				background: rgba(nth($f_color,19),0.6);
			}
		}
	}
	.product_price {
        h6 {
            display: inline-block;
        }
    }
    .te_discount {
        font-size: 0.9rem;
    }
    /*.btn {
        color:nth($f_color,05) !important;
        &:hover {
            color:nth($f_color,05) !important;
        }
    }*/
    a.btn.btn-secondary {
        font-size: 16px;
        @include media-breakpoint-down(sm){
            font-size: 14px;
        }
    }
	&:hover
	{
		.te_wishlist_quickview_icon .btn
		{
			opacity: 1;
		}
	}
}
.te_product_slider_5 {
    .te_prod_info .product_name {
        margin-top: 0px !important;
    }
}
/*================= 09. Slider Style 6 ====================*/
.te_slider_style_6 .te_product_ind
{
	.te_slider_img
	{
		@include position(relative);
		.te_prod_icons_6
		{
			@include position(absolute,5px,5px);
			.o_add_wishlist, .te_quick_view
			{
				display: block;
				background-color: nth($f_color,5);
				color:nth($f_color,3);
				border:1px solid $border-color;
				@include border-radius(50%);
				margin-top: 5px;
				width: 44px;
				height: 44px;
				line-height: 44px;
				padding: 0;
				opacity: 0;
				@include transition(all,0.5s,ease)
				&:hover
				{
					color:nth($f_color,5);
					background-color: nth($f_color,19);
					border:1px solid nth($f_color,19);;
				}
			}
			.o_add_wishlist
			{
				opacity: 1;
				font-size: 16px;
				@include media-breakpoint-down(sm){
                    font-size: 14px;
                }
			}
			.o_add_wishlist.disabled
			{
				cursor: not-allowed;
				color:nth($f_color,5);
				background: rgba(nth($f_color,19),0.6);
			}
			.te_quick_view
			{
				@include transition(all,0.5s,ease,0.1s)
			}
			.btn
			{
				@include media-breakpoint-down(lg)
				{
					opacity: 1;
					margin-bottom:5px;
				}
			}
		}
		[title="Shopping cart"]
		{
			@include position(absolute,unset,unset,-10%,0);
			width: 100%;
			@include transition(all,400ms);
			@include style(6,5,inherit,unset);
			opacity: 0;
			font-size: 16px;
			@include media-breakpoint-down(sm){
                font-size: 14px;
            }
			.fa
			{
				padding-right: 5px;
			}
			@include media-breakpoint-down(lg)
			{
				opacity: 1;
				bottom: 0%;
			}
		}
	}
	.product_price {
        h6 {
            display: inline-block;
        }
    }
    .te_discount {
        font-size: 0.9rem;
    }
	.te_prod_info_sub
	{
		background-color: nth($f_color,5);
		overflow: hidden;
	}
	&:hover
	{
		.te_prod_icons_6
		{
			.btn
			{
				opacity: 1;
				margin-bottom:5px;
				@include media-breakpoint-down(lg)
				{
					opacity: 1;
				}
			}
		}
		[title="Shopping cart"]
		{
			opacity: 1;
			bottom: 0%;
		}
	}
}
.te_prod_info_sub
{
	.product_name
	{
	    @include line-clamp(1,23px);
		margin-bottom: 3px;
		line-height: 23px;
	}
	.te_2_line
	{
		-webkit-line-clamp: 2;
		height: 44px;
	}
	.te_3_line
	{
		-webkit-line-clamp: 3;
		height: 65px;
	}
}
