/***********************************************
				Shop
			----------------
			01. Ajax add to cart

************************************************/
/*----------------01. Ajax add to cart---------------------*/
.product_ajax_cart_class
{
	width:100%;
	background-color:#fff;
	z-index:9997;
	border-bottom: 2px solid theme-color('primary');
	overflow:auto;
	max-height:100%;
	 padding: 16px 0;
	 @include position(fixed,0,auto,auto,0);
	 .container {
	 	position:relative;
	 	& .product_detail_img {
	 		max-height:500px;
	 	}
	 }
	 @include media-breakpoint-up(lg) {
		.carousel-outer
		{
			width: 85%;
			display: block;
			@include position(relative);
			float:right;
		}
		#carousel-pager
		{
			margin: 16px 0;
		}
	}
	.t_product_name
	{
		@include style(19,22);
		&:hover {
			color:nth($f_color,19);
		}
	}
}
.modal-content.ajax_cart_modal {
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);

    .cart_close:not(:disabled):not(.disabled):focus,
    .cart_close {
        @include position(absolute,-15px,-15px);
        width: 40px;
        height: 40px;
        z-index: 1;
        @include border(2px,08,solid);
        @include border-radius(50%);
        background: nth($f_color,5);
        @include box-shadow(0px 4px 10px 0 rgba(0, 0, 0, 0.1));
        opacity: 1;
        text-align: center;
        padding: 0;
        @include transition(all,.4s);
        line-height: 40px;
        &:hover {
            transform: rotateZ(180deg);
            line-height: 37px;
            opacity: 1;
            border-color: nth($f_color,19);
        }
        @include media-breakpoint-down(sm) {
            top: -6px;
            right: -6px;
        }
        &:before{
            content: '\00d7';
            font-size: 1.4rem;
            font-family: fontAwesome;
            font-weight: normal;
            line-height: 1;
        }
    }
    .oe_website_sale .row {
        display: flex;
    }
}
.ajax_cart_content {
    min-height: 400px;
    #product_details {
        @include media-breakpoint-down(md) {
            margin-top: 0;
        }
    }
    #product_detail {
        .te_product_quantity,
        .te_prod_desc,
        .product_price {
            margin: 0.5rem 0 !important;
        }
        .oe_price_h4 b.oe_price{
            font-size: $font-size-base;
        }
        span.text-danger.oe_default_price{
            font-size: $font-size-base - 0.125rem; /* Reduced 2px */
        }
        .te_discount{
            font-size: $font-size-base - 0.125rem; /* Reduced 2px */
        }
        .te_product_name{
            max-width: 100%;
            @include text-ellipsis
        }
		.quick-add-to-cart
		{
			padding: 0.613rem 2rem;
			@include media-breakpoint-down(xs)
			{
			    display: block;
			}
		}
        #buy_now{
             margin-left: 0.2rem !important;
             margin-top: 0 !important;
            @include media-breakpoint-down(md) {
                margin-left: 0rem !important;
            }
            @include media-breakpoint-down(xs)
            {
                font-size: 0.8125rem;
                display: block !important;
                margin-right: 0;
            }
        }
        #add_to_cart {
            margin-top: 0 !important;
            @include media-breakpoint-down(xs)
            {
                font-size: 0.8125rem;
                display: block !important;
                margin-right: 0;
                margin-bottom:10px;
            }
        }
        .product_price{
            @include media-breakpoint-down(md){
                font-size: 1.15rem;
            }
        }
        .js_add_cart_variants{
            margin: 1rem 0;
            > li {
                margin: 0.5rem 0;
                padding: 0
            }
            .variant_attribute {
                .list-unstyled{
                    max-height: 135px;
                    overflow: auto;
                }
                h6{
                    font-weight: 600;
                }
            }
        }
        #o-carousel-product {
            .carousel-indicators {
                @include media-breakpoint-down(md){
                    display: none !important;
                }
                padding: 0.5rem 0 !important;
                > li {
                    margin: 0.25rem 0.5rem 0.25rem 0 !important;
                }
            }
        }
         #mainSlider {
            width: 90%;
            float: unset;
            margin: 0 auto;
            .owl-carousel{
                .owl-item img {
                    max-height: 280px !important;
                }
            }
            .owl-item iframe {
                height: 280px;
                width: 90%;
                max-height: unset !important;
            }
        }
        #thumbnailSlider {
            width: 65%;
            margin: 0px auto;
            @include media-breakpoint-down(xs){
                width: 75%;
            }
            .owl-carousel {
                @include transform(rotate(0deg));
                width: 100%;
                margin: 0px auto;
                position: relative;
                max-width: unset;
                top: 0 !important;
                left: 0 !important;
                .owl-item {
                    @include transform(rotate(0deg));
                }
            }
        }
    }
}
#ajax_cart_model_shop{
    .modal-dialog {
        @include media-breakpoint-up(sm){
            max-width: 450px;
            padding: 3.5rem 0 2rem;
        }
    }
}
#products_grid.o_wsale_layout_list {
    .te_shop_grid {
        .te_product_info {
            .ajax_cart_modal {
                .product_price {
                    padding: 0;
                }
            }
        }
    }
}
#ajax_cart_model .modal-dialog {
    @include media-breakpoint-down(lg) {
        @include transform(translateX(-50%));
        @include position(absolute,null,null,null,50%);
        width: 85%;
        min-width: 280px;
    }
    @include media-breakpoint-down(xs) {
        margin: 20px 0;
    }
}
.product-name-container, .product-image-container {
    display: block;
    text-align: center;
    width: 100%;
}
.ajax-sucess-bottom {
    width: 90%;
    margin: 20px auto 0;
}
.ajax-sucess {
    .modal-dialog {
        max-width: 450px;
    }
}
.shopping-line {
    width: 100%;
    text-align: center;
    margin: 5px 0 15px 0px;
}
@include media-breakpoint-up(sm) {
    .ajax-sucess-continue {
        margin-bottom: 0px !important;
    }
}
@include media-breakpoint-down(sm){
    .ajax-sucess-continue {
        margin-bottom: 10px !important;
    }
    .ajax-sucess-continue, .ajax-sucess-checkout {
        width: 100%;
    }
}